.all-bg-p {
  width: 13rem;
}

.pen-kids {
  position: relative;
}

.pen-kids i {
  position: absolute;
  bottom: 3px;
  left: 2px;
}

.botton3 {
  width: 30%;
}

@media screen and (max-width: 576px) {
  .bottoni {
    flex-direction: column;
  }
}
